<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin - AJ Jewellers</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/css/Admin/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/css/Admin/sb-admin.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="~/js/Admin/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/js/Admin/bootstrap.min.js"></script>

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "AHome")" title="logo" class="navbar-brand">
                    AJ Jewellers - Admin
                </a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img src="~/img/Admin/user.png" alt="Comments" style="width:15px;height:15px;"><span> </span>Welcome @Session["UserNameSession"] <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"> <img src="~/img/Admin/userb.png" alt="Comments" style="width:15px;height:15px;"> Profile</a>
                        </li>
                        <li>
                            <a href="#"> <img src="~/img/Admin/inbox.png" alt="Comments" style="width:15px;height:15px;"> Inbox</a>
                        </li>
                        <li>
                            <a href="#"> <img src="~/img/Admin/settings.png" alt="Comments" style="width:15px;height:15px;"> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="../../Home/Logout"> <img src="~/img/Admin/logout.png" alt="Comments" style="width:15px;height:15px;"> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="~/AHome/Index"> <img src="~/img/Admin/dashboard.png" alt="Comments" style="width:15px;height:15px;"> Dashboard</a>
                    </li>
                    @if (Session["UserRole"].Equals("Super Admin"))
                    {
                        <li>
                            <a href="javascript:;" data-toggle="collapse" data-target="#demo"> <img src="~/img/Admin/user.png" alt="Comments" style="width:15px;height:15px;"> Admins <img src="~/img/down.png" alt="Comments" style="width:10px;height:10px;"> </a>
                            <ul id="demo" class="collapse">
                                <li>
                                    @Html.ActionLink("Add Admin", "AddAdmin", "AAdmin")
                                </li>
                                <li>
                                    @Html.ActionLink("Delete Admin", "UDAdmin", "AAdmin")
                                </li>
                                <li>
                                    @Html.ActionLink("Update Admin", "UDAdmin", "AAdmin")
                                </li>
                            </ul>
                        </li>
                    }
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo1"> <img src="~/img/Admin/bootstrap.png" alt="Comments" style="width:15px;height:15px;"> Blog <img src="~/img/down.png" alt="Comments" style="width:10px;height:10px;"> </a>
                        <ul id="demo1" class="collapse">
                            <li>
                                <a href="#">View Comments</a>
                            </li>
                            <li>
                                <a href="#">Edit Blog</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo2"> <img src="~/img/Admin/forms.png" alt="Comments" style="width:15px;height:15px;"> Products <img src="~/img/down.png" alt="Comments" style="width:10px;height:10px;"> </a>
                        <ul id="demo2" class="collapse">
                            <li>
                                @Html.ActionLink("Add Product", "AddProduct", "AProduct")
                            </li>
                            <li>
                                @Html.ActionLink("Delete Product", "UDProduct", "AProduct")
                            </li>
                            <li>
                                @Html.ActionLink("Update Product", "UDProduct", "AProduct")
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo3"> <img src="~/img/Admin/user.png" alt="Comments" style="width:15px;height:15px;"> Clients <img src="~/img/down.png" alt="Comments" style="width:10px;height:10px;"> </a>
                        <ul id="demo3" class="collapse">
                            <li>
                                @Html.ActionLink("View Clients", "UDClient", "AClient")
                            </li>
                            <li>
                                @Html.ActionLink("View Accounts", "UDAccount", "AAccount")
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo4"> <img src="~/img/Admin/data.png" alt="Comments" style="width:15px;height:15px;"> Orders <img src="~/img/down.png" alt="Comments" style="width:10px;height:10px;"> </a>
                        <ul id="demo4" class="collapse">
                            <li>
                                @Html.ActionLink("View Orders", "UDOrder", "AOrder")
                            </li>
                            <li>
                                @Html.ActionLink("Delete Orders", "UDOrder", "AOrder")
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>


        @RenderBody()

        </div>
        <br>&nbsp;<br>
        <div class="section-colored">
            <div class="container">
                <div class="col-lg-6 col-md-6 col-sm-6 pull-right">
                    <p><b>Copyright &copy; 2015  AJ-Jewellers (PVT) LTD. All Rights Reserved.</b></p>
                </div>
            </div>
        </div>
        <!-- /.container -->
</body>
</html>