@{
    ViewBag.Title = "Update Order";
}

@model List<EAD_Project_Bootstrap.Models.Order>

<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Update Order
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <img src="~/img/Admin/dashboardb.png" alt="Comments" style="width:15px;height:15px;">  <a href="~/AHome/Index">Dashboard</a>
                    </li>
                    <li class="active">
                        Update Order
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <!-- Content Row -->
        <div class="row">
            <!-- Map Column -->
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-8">
                        <h3></h3>
                        <form name="sentMessage" id="contactForm" method="post" action="../../AOrder/updateExistingOrder" novalidate>
                            @foreach (var a in Model)
                            {
                                <div class="control-group form-group">
                                    <div class="controls">
                                        <label>Order ID:</label>
                                        <input type="text" class="form-control" name="OrderID" value="@a.OrderID" required data-validation-required-message="Please Enter A Valid Order ID.">
                                        <p class="help-block"></p>
                                    </div>
                                </div>
                                <div class="control-group form-group">
                                    <div class="controls">
                                        <label>Product ID:</label>
                                        <input type="text" class="form-control" name="ProductID" value="@a.ProductID" required data-validation-required-message="Please Enter A Valid Product ID.">
                                        <p class="help-block"></p>
                                    </div>
                                </div>
                                <div class="control-group form-group">
                                    <div class="controls">
                                        <label>User ID:</label>
                                        <input type="text" class="form-control" name="UserID" value="@a.UserID" required data-validation-required-message="Please Enter A Valid User ID.">
                                        <p class="help-block"></p>
                                    </div>
                                </div>
                                <div class="control-group form-group">
                                    <div class="controls">
                                        <label>Quantity:</label>
                                        <input type="text" class="form-control" name="Quantity" value="@a.Quantity" required data-validation-required-message="Please Enter Quantity.">
                                    </div>
                                </div>
                                <div class="control-group form-group">
                                    <div class="controls">
                                        <label>Price:</label>
                                        <input type="text" class="form-control" name="Price" value="@a.Price" required data-validation-required-message="Please Enter Price.">
                                    </div>
                                </div>
                                <div class="control-group form-group">
                                    <div class="controls">
                                        <label>Amount:</label>
                                        <input type="text" class="form-control" name="Amount" value="@a.Amount" required data-validation-required-message="Please Enter Amount.">
                                    </div>
                                </div>
                                <div class="control-group form-group">
                                    <div class="controls">
                                        <label>Date:</label>
                                        <input type="text" class="form-control" name="Date" value="@a.Date" required data-validation-required-message="Please Enter Date.">
                                    </div>
                                </div>

                                <div id="success"></div>
                                <!-- For success/fail messages -->

                                <button type="submit" id="buttonSubmit" class="btn btn-primary btn-block">Update</button>
                            }
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>